@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    padding: 10px;
}

article{
    justify-content: space-between;
}

.informacoes{
    background-color: lightgrey;
    padding: 15px;
}

.media-text{
    display: flex;
    flex-flow: row wrap-reverse;
    align-content: center;
}

.text-media{
    display: flex;
    flex-flow: row wrap;
}

img{
    border: 1px dotted black;
    width: 370px;
    margin-bottom: 10px;
}

iframe{
    flex-wrap: 1 1;
}

.container{
    flex-basis: 900px;
}


article p{
    border: 1px dotted black;
}

article h2{
    display: block;
}

section{
    padding: 15px;
}

p{
    margin-bottom: 10px;
}

h1, h2{
    margin-bottom: 10px;
    border: 1px dotted black;
}

