@charset "UTF-8";

/*Configurações para aparelho deitado (landscape)*/

body{
    background-image: url(../img/cev-landscape.jpg);
    background-size: contain;
    background-position: left bottom;
    background-repeat: no-repeat;
}