@charset "UTF-8";

/*Configurações para aparelho em pé (portrait)*/

body{
    background-image: url(../img/cev-portrait.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}