@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    padding: 10px;
}

.informacoes{
    background-color: lightgrey;
    padding: 15px;
}

.media-text{
    display: flex;
    flex-flow: row wrap-reverse;
}

.text-media{
    display: flex;
    flex-flow: row wrap;
}

.video{
    display: flex;
    flex: 1;
    max-width: 900px;
    margin: auto;
}

.video iframe{
    flex: 1 1;
    margin: auto;
}

img{
    /*border: 1px dotted black;*/
    width: 370px;
    margin-bottom: 10px;
    margin: auto;
}


.container{
    flex-basis: 900px;
}


article p{
    /*border: 1px dotted black;*/
}

article h2{
    display: block;
}

section{
    padding: 15px;
}

p{
    margin-bottom: 10px;
}

h1, h2{
    margin-bottom: 10px;
    /*border: 1px dotted black;*/
}

