/*Declarações Gerais*/

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #233eff;
}

h1{
    color: whitesmoke;
    text-shadow: 3px 3px 0px #233dff70;
    padding: 10px;
}

/*Declarações retrato*/
@media screen and (orientation: portrait) {
    body{
        background-image: url(../img/cev-portrait.jpg);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: contain;
    }
}

/*Declarações paisagem*/
@media screen and (orientation: landscape) {
    body{
        background-image: url(../img/cev-landscape.jpg);
        background-size: contain;
        background-position: left bottom;
        background-repeat: no-repeat;
    }
}