body{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    background-color: rgb(53, 52, 52);
    font-size: 1.4em;
}

h1{
    text-align: center;
}

.video{
    text-align: center;
}

.video p{
    font-size: 0.7em;

}