body{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    background-color: rgb(53, 52, 52);
    font-size: 1.4em;
}

h1{
    margin-top: 10px;
    text-align: center;
    margin-bottom: 7px;
}

.videos{
    text-align: center;
}