body{
    background-color: rgb(189, 189, 189);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 3.5em;
}

p{
    font-size: 1.3em;
    text-align: justify;
}

ul{
    font-size: 1.3em;
}